<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Shophop.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C7A974700F713EF026133BD14A306D9D737797D5</string>
				<key>dateExpires</key>
				<string>26.11.2020</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C7A974700F713EF026133BD14A306D9D737797D5</string>
						<key>dateExpires</key>
						<string>26.11.2020</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZWGDPBV9N5</string>
						<key>name</key>
						<string>Omer Yilmaz</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C7A974700F713EF026133BD14A306D9D737797D5</string>
						<key>dateExpires</key>
						<string>26.11.2020</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AnimatedCollectionViewLayout.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZWGDPBV9N5</string>
						<key>name</key>
						<string>Omer Yilmaz</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C7A974700F713EF026133BD14A306D9D737797D5</string>
						<key>dateExpires</key>
						<string>26.11.2020</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AvailableHapticFeedback.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZWGDPBV9N5</string>
						<key>name</key>
						<string>Omer Yilmaz</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C7A974700F713EF026133BD14A306D9D737797D5</string>
						<key>dateExpires</key>
						<string>26.11.2020</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Cosmos.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZWGDPBV9N5</string>
						<key>name</key>
						<string>Omer Yilmaz</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C7A974700F713EF026133BD14A306D9D737797D5</string>
						<key>dateExpires</key>
						<string>26.11.2020</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FCAlertView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZWGDPBV9N5</string>
						<key>name</key>
						<string>Omer Yilmaz</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C7A974700F713EF026133BD14A306D9D737797D5</string>
						<key>dateExpires</key>
						<string>26.11.2020</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZWGDPBV9N5</string>
						<key>name</key>
						<string>Omer Yilmaz</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C7A974700F713EF026133BD14A306D9D737797D5</string>
						<key>dateExpires</key>
						<string>26.11.2020</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZWGDPBV9N5</string>
						<key>name</key>
						<string>Omer Yilmaz</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C7A974700F713EF026133BD14A306D9D737797D5</string>
						<key>dateExpires</key>
						<string>26.11.2020</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZWGDPBV9N5</string>
						<key>name</key>
						<string>Omer Yilmaz</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C7A974700F713EF026133BD14A306D9D737797D5</string>
						<key>dateExpires</key>
						<string>26.11.2020</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MiniLayout.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZWGDPBV9N5</string>
						<key>name</key>
						<string>Omer Yilmaz</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C7A974700F713EF026133BD14A306D9D737797D5</string>
						<key>dateExpires</key>
						<string>26.11.2020</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MultiSlider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZWGDPBV9N5</string>
						<key>name</key>
						<string>Omer Yilmaz</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C7A974700F713EF026133BD14A306D9D737797D5</string>
						<key>dateExpires</key>
						<string>26.11.2020</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>OAuthSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZWGDPBV9N5</string>
						<key>name</key>
						<string>Omer Yilmaz</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C7A974700F713EF026133BD14A306D9D737797D5</string>
						<key>dateExpires</key>
						<string>26.11.2020</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>OAuthSwiftAlamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZWGDPBV9N5</string>
						<key>name</key>
						<string>Omer Yilmaz</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C7A974700F713EF026133BD14A306D9D737797D5</string>
						<key>dateExpires</key>
						<string>26.11.2020</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>REFrostedViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZWGDPBV9N5</string>
						<key>name</key>
						<string>Omer Yilmaz</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C7A974700F713EF026133BD14A306D9D737797D5</string>
						<key>dateExpires</key>
						<string>26.11.2020</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZWGDPBV9N5</string>
						<key>name</key>
						<string>Omer Yilmaz</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C7A974700F713EF026133BD14A306D9D737797D5</string>
						<key>dateExpires</key>
						<string>26.11.2020</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SRScratchView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZWGDPBV9N5</string>
						<key>name</key>
						<string>Omer Yilmaz</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C7A974700F713EF026133BD14A306D9D737797D5</string>
						<key>dateExpires</key>
						<string>26.11.2020</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Segmentify.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZWGDPBV9N5</string>
						<key>name</key>
						<string>Omer Yilmaz</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C7A974700F713EF026133BD14A306D9D737797D5</string>
						<key>dateExpires</key>
						<string>26.11.2020</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SideMenu.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZWGDPBV9N5</string>
						<key>name</key>
						<string>Omer Yilmaz</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C7A974700F713EF026133BD14A306D9D737797D5</string>
						<key>dateExpires</key>
						<string>26.11.2020</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftGifOrigin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZWGDPBV9N5</string>
						<key>name</key>
						<string>Omer Yilmaz</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C7A974700F713EF026133BD14A306D9D737797D5</string>
						<key>dateExpires</key>
						<string>26.11.2020</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Toast_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZWGDPBV9N5</string>
						<key>name</key>
						<string>Omer Yilmaz</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C7A974700F713EF026133BD14A306D9D737797D5</string>
						<key>dateExpires</key>
						<string>26.11.2020</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>dengage_ios_sdk.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZWGDPBV9N5</string>
						<key>name</key>
						<string>Omer Yilmaz</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C7A974700F713EF026133BD14A306D9D737797D5</string>
						<key>dateExpires</key>
						<string>26.11.2020</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZWGDPBV9N5</string>
						<key>name</key>
						<string>Omer Yilmaz</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C7A974700F713EF026133BD14A306D9D737797D5</string>
						<key>dateExpires</key>
						<string>26.11.2020</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>ZWGDPBV9N5.com.dengage.ecommerce.DengageNotificationExtension</string>
						<key>com.apple.developer.team-identifier</key>
						<string>ZWGDPBV9N5</string>
						<key>get-task-allow</key>
						<true/>
						<key>keychain-access-groups</key>
						<array>
							<string>ZWGDPBV9N5.com.dengage.ecommerce.DengageNotificationExtension</string>
						</array>
					</dict>
					<key>name</key>
					<string>DengageNotificationExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>95a7dd83-d651-4f7f-943f-9e0768ae2de4</string>
						<key>name</key>
						<string>iOS Team Provisioning Profile: *</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZWGDPBV9N5</string>
						<key>name</key>
						<string>Omer Yilmaz</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>ZWGDPBV9N5.com.dengage.ecommerce</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>ZWGDPBV9N5</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Shophop.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e8876019-c9c1-4a34-92c3-1dcd9024812d</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.dengage.ecommerce</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>ZWGDPBV9N5</string>
				<key>name</key>
				<string>Omer Yilmaz</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
